# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

.venv/
.venv1/
venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db

# Qdrant
data/qdrant/

# Misc
.cache/