fastapi
uvicorn[standard]

langchain
langgraph

qdrant-client

sentence-transformers
rank-bm25
transformers
torch

ollama

tree-sitter
tree-sitter-languages

pydantic
pydantic-settings

python-dotenv

gitpython

ragas
datasets

httpx

tqdm

pytest

python-multipart
langchain-ollama